<!doctype html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block head %}
			{% include 'partials/metadata.html.twig' %}

		    {% include 'partials/assets-css-js.html.twig' %}
		{% endblock head %}
	</head>

    <body class="{% spaceless %}
		    {% block body_classes %}
		    	{{ page.header.body_classes }}
		    	{% set navbar = theme_var('navbar') %}
		    	{% if navbar.type!='navbar' %} 
		    		mt-5 pt-5
		    	{% endif %}
		    {% endblock %}
	    {% endspaceless %}">
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block pagination %}{% endblock %}

		{% block footer %}
			{% include 'partials/footer.html.twig' %}
		{% endblock %}


		{% if theme_var('map.api_key') and theme_var('map.type') == 'google' %}
			{%  include 'partials/map-google-js.html.twig' %}
		{% elseif theme_var('map.type') == 'osm' %}
			{%  include 'partials/map-osm-js.html.twig' %}
		{% endif %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}
    </body>
</html>
