		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center py-4">
						&copy; {{ site.title }} 
						<i class="fa fa-desktop primary pl-5" aria-hidden="true"></i>
						<span class="text-small-caps">
							<span class="d-inline d-sm-none">xs</span>
							<span class="d-none d-sm-inline d-md-none">sm</span>
							<span class="d-none d-md-inline d-lg-none">md</span>
							<span class="d-none d-lg-inline d-xl-none">lg</span>
							<span class="d-none d-xl-inline">xl</span>
						</span>
					</div>

					<div class="col-12 pt-1"></div>
				</div>
			</div>
		</footer>